[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
openai = "==0.28.1"
google-search-results = "*"
langchain-google-genai = "*"
flask = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
